<div class="container">
  <div id="oauth" style="padding: 8px">
    Non sei ancora loggato in Salesforce. Clicca sul bottone qui sotto per eseguire il login.<br /><br />
    <button class="slds-button--neutral" onclick="forceLogin()">
      Accedi a Salesforce
    </button>
  </div>
  <div id="component"/>
</div>
<script>
	var config = {
		appId: "<%= consumerKey %>",
		lightningApp: "<%= lightningApp %>",
		lightningComponent: "<%= lightningComponent %>"
	};
